@font-face {
    font-family: Karla-Bold;
    src: url(fonts/static/Karla-Bold.ttf);
}
body
{
   
    font-size: 16px;
    font-family: Karla-Bold;
}
#content
{
    width: 700px;
    height: 500px;
    margin: 70px auto 0px auto;
    -moz-box-shadow: 0 0 5px #777777;
    -webkit-box-shadow: 0 0 5px #777777;
    box-shadow: 0 0 5px #777777;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}
#container1
{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    padding: 10px;
    text-indent: 30px;   
}
#container2
{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    display: flex;
}
h1
{
    margin-top: 30px;
    color: hsl(179, 62%, 43%);
}
h2
{
    color: hsl(71, 73%, 54%);
}
h3
{
    margin-top: 40px;
}
h4
{
    margin-top: 2%;
    opacity: 0.8;
}
p
{
    color: hsl(218, 22%, 67%);
    margin-bottom: 3%;
    margin-left: 0%;
}
#subscription, #why
{
    /*border: 2px solid blueviolet;*/
    height: 100%;
    width: 50%;
    text-indent: 10%;
    color: rgb(236, 236, 236);
}
.txt
{
    margin-left: 10%;
    text-indent: 0px;
    opacity: 0.9;
}
#subscription
{
    background-color: hsl(179, 62%, 43%);
    border-radius: 0px 0px 0px 10px;
}
#why
{
    background-color: hsl(179, 61%, 49%);
    border-radius: 0px 0px 10px 0px;
}
#why:nth-of-type(2) p
{
    color: hsl(216, 6%, 85%);
    margin: 0px;
}
.price
{
    font-size: 32px;
    padding-left: 10%;
    margin-bottom: 40px;
}
#pm
{
    color: rgb(223, 223, 223);
    margin-left: 3%;
    opacity: 0.5;
    position: relative;
    top: -6px;
}
button
{
    background-color: rgb(168, 224, 85);
    margin-left: 10%;
    width: 250px;
    height: 40px;
    color: white;
    border: 0px;
    border-radius: 5px;
    font-size: 15.5px;
    font-weight: 700;
    box-shadow: 0 5px 5px -3px #777777;
}
button:hover
{
    cursor: pointer;
    background-color: rgb(118, 158, 58);
}
@media screen and (max-width: 780px)
{
    html, body 
    {
        overflow-x: hidden;
        font-size: 14px;
    }
    #content
    {
        flex-direction: column;
        width: 260px;
        height: 100%;
        margin: 40px auto 0px auto;
    }
    button
    {
        width: 80%;
        height: 40px;
        margin-bottom: 20px;
    }
    #container2
    {
        align-items: stretch;
        flex-direction: column;
        width: 200%;
    }
    .txt
    {
        margin-bottom: 20px;
    }
    #subscription
    {
        border-radius: 0px;
    }
    #why
    {
        border-radius: 0px 0px 10px 10px;
    }
    p, h1, h2
    {
        text-indent: 0%;
        margin: 15px 5% 15px 5%;
    }
    h3
    {
        margin: 15px 0% 15px 0%;
    }

}




